* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

html, body {
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);
    min-width: 400px;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#ville {
    text-transform: capitalize;
    font-size: 25px;
}

#temperature {
    font-size: 4em;
}

#changer {
    background: rgba(178, 223, 251, .3);
    cursor: pointer;
}

.container {
    width: 600px;
    height: 450px;
    margin: 20px auto;
    text-align: center;
    background-image: url("fond.jpg");
    box-shadow: 8px 8px grey;

}

#changer {
    background-color:#BEDB39 ;
    border-radius: 5px;
    width: 150px;
    height: 24px;
    text-transform: lowercase;
    font-weight: normal;
    margin-top: -58px;
    margin-left: -31px;
}

.titre {

    padding-top: 185px;
}

#window {
    box-shadow: 5px -13px 19px 5px rgba(27,4,4,0.44);

}

button {
    border-radius: 8px;
    background-color:#BEDB39 ;
    font-weight: bold;
    width: 70px;
    height: 50px;
    margin-top: 5px;
}

div {
     margin-right: 15px;
     padding: 15px;
 }

/*responsive*/
@media screen and (max-width: 850px){
    .container {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
}

@media screen and (max-width: 600px){
    .container {
        width: 100%;
    }
}